<div style="text-align: center"> <h1>Exercises 07</h1></div>
<div style="text-align: center; color: red;"> <h2>Set</h2></div>

<div style="color: white;text-align:center;background-color:darkblue;padding:5px;"> <h2>Exercise 01</h2></div>

### it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

<div style="color:darkblue;"> <h3>Part1: Find the length of the set it_companies </h3></div>

In [4]:
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
len(it_companies)

7

<div style="color:darkblue;"> <h3>Part2: Add 'Twitter' to it_companies. </h3></div>

In [2]:
it_companies.add('Twitter')

<div style="color:darkblue;"> <h3>Part3: Insert multiple IT companies at once to the set it_companies. </h3></div>

In [3]:
it_companies.update(["SAP", "TCS"])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'IBM',
 'Microsoft',
 'Oracle',
 'SAP',
 'TCS',
 'Twitter'}

<div style="color:darkblue;"> <h3>Part4: Remove one of the companies from the set it_companies. </h3></div>

In [8]:
it_companies.remove('Google')

<div style="color:darkblue;"> <h3>Part5: What is the difference between remove and discard. </h3></div>

In [ ]:
#If the item to remove does not exist, discard() will NOT raise an error but remove will raise an error.
it_companies.remove('Google')

In [13]:
it_companies.discard("Apple")

<div style="color: white;text-align:center;background-color:darkblue;padding:5px;"> <h2>Exercise 02</h2></div>

### age = [22, 19, 24, 25, 26, 24, 25, 24]

<div style="color:darkblue;"> <h3>Convert the ages to a set and compare the length of the list and the set, which one is bigger?</h3></div>

In [14]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
set_age = set(age)
l1 = len(age)
l2 = len(set_age)
if l1 > l2:
  print(f"len set({l2}) is bigger than len list({l1}).")
elif l1 < l2:
  print(f"len set({l2}) is smaller than len list({l1}).")
else:
  print(f"len set is equal with len list. both of them are{l1}")

len set(5) is bigger than len list(8).

<div style="color: white;text-align:center;background-color:darkblue;padding:5px;"> <h2>Exercise 03</h2></div>

<div style="color:darkblue;"> <h3>(I am a teacher and I love to inspire and teach people.) How many unique words have been used in the sentence?
Use the split methods and set to get the unique words.</h3></div>

In [15]:
text = "I am a teacher and I love to inspire and teach people"
words = text.split()
words = set(words)
print(len(words))

10